@media only screen and (max-width:620px){
    
    
    
    .fimg:hover {
    background-color: rgba(0, 0, 0, .0);
    transition: .3s;
    width: 30px;
    height: 30px;

}
    .himg {
    width: 60px;
    height: 60px;
        
   
}
}